<div class="container photo-background">
  <img [src]="getProfilePicSrc()" alt="Immagine profilo" class="profilepic">
</div>
<div class="container" id="main">
  <router-outlet>
  </router-outlet>
</div>
<div class="sidenav container">
  <a routerLink="/name" routerLinkActive="active-link" id="name">Name</a>
  <a routerLink="/email" routerLinkActive="active-link" id="email">Email</a>
  <a routerLink="/birthday" routerLinkActive="active-link" id="birthday">Birthday</a>
  <a routerLink="/address" routerLinkActive="active-link" id="address">Address</a>
  <a routerLink="/phone" routerLinkActive="active-link" id="phone">Phone</a>
  <a routerLink="/password" routerLinkActive="active-link" id="password">Password</a>
</div>