/* You can add global styles to this file, and also import other style files */
.container {
    width: 100%;
    text-align: center;
    font-size: 30px;
    height: auto;
    padding: 20px;
    margin: 0 !important;
}

.photo-background, .sidenav {
    background-color: gainsboro;
}

#main {
    height: 300px !important;
    padding-top: 60px !important;
}

.sidenav > a:hover {
    color: green;
}

.sidenav > a {
    margin: 15px;
    padding: 15px;
    text-decoration: none;
    color: black;
    display: inline-block;
    position: relative;
}

.profilepic {
    position: relative;
    bottom: -80px;
    border-radius: 50%;
}